
body {
  background-color: burlywood;
}

ul.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

h1 {
  color:orange;
}

h6 {
    color:orange
}
p {
  color: white;
}
